---
import about from "../../data/about.json";
import AstroIcon from "../icons/AstroIcon.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer data-cy="footer" class=`${className} mb-5 text-white bg-black dark:bg-transparent rounded-full`>
  <div class="inline-flex items-center space-x-3">
    <AstroIcon className="w-16 h-16 lg:h-10 lg:w-10" />
    <p>Desarrollada con <a class="font-bold underline hover:text-purple-600" href="https://astro.build/" target="_blank">Astro</a></p>
  </div>
  <div data-cy="this-repository" class="inline-flex items-center space-x-3">
    <p>Échale un vistazo al <a class="font-bold underline hover:text-purple-600" href={about.thisApp.repository} target="_blank">código fuente</a></p>
  </div>
</footer>