---
import AstroIcon from "../icons/AstroIcon.astro";
---

<footer class="mb-5 text-white px-6 py-2 flex justify-center space-x-16 bg-black rounded-full">
  <div class="inline-flex items-center space-x-3">
    <AstroIcon className="h-12 w-12*" />
    <p>Desarrollada con <a class="font-bold underline hover:text-purple-600" href="https://astro.build/">Astro</a></p>
  </div>
  <div class="inline-flex items-center space-x-3">
    <p>Échale un vistazo al <a class="font-bold underline hover:text-purple-600" href="https://github.com/schweigenderFlugel/portfolio">código fuente</a></p>
  </div>
</footer>