---
import ThemeButton from "./ThemeButton.astro"
---

<nav class="flex items-center justify-between text-black dark:text-white bg-gray-400 bg-opacity-50 dark:bg-opacity-95 dark:bg-black px-6 py-3 w-full">
    <div class="inline-flex gap-2">
        <a href="/">Home</a>
        <a href="/projects">Proyectos</a>
    </div>
    <div class="inline-flex gap-3">
        <ThemeButton/>
    </div>
</nav>