---
---

<nav class="flex justify-between bg-gray-400 dark:bg-black px-6 py-2 w-full">
    <div class="inline-flex">
        <p>Home</p>
        <p>Proyectos</p>
    </div>
    <div class="inline-flex gap-3 items-center">
        <div>
            <p>Contacto</p>
        </div>
        <button type="button" class="inline-flex gap-2 items-center bg-green-700 text-white border-none rounded-lg px-4 py-2">
            <p>Currículum</p>
            <img class="w-5 font-bold" src="/download.svg"/>
        </button>
    </div>
</nav>