---
import { badges } from '../const/badges';

export interface Props {
  id: number;
  tags: string[];
}

const { id, tags } = Astro.props;
---

{tags && 
  <div id={`carousel-${id}`} class="flex rounded-xl px-2 py-2 space-x-1 overflow-hidden transition-transform duration-300">
    {tags.map(name => 
      badges.filter(badge => badge.name === name).map(tag =>
        <div class="bg-grey-200 inline-flex items-center gap-2 px-5 py-[2px] border rounded-xl flex-shrink-0">
          <tag.icon className={tag.class} />
          <p class="text-[12px] select-none">{tag.name}</p>
        </div>
      )
    )}
  </div>
}
{!tags.length && <p>No hay etiquetas disponibles</p>}