---
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<button class=`${className}` data-switch-theme>
  <Sun className="w-20 h-20 lg:w-5 lg:h-5 shadow-lg dark:display-initial hidden"/>
  <Moon className="w-20 h-20 lg:w-5 lg:h-5 shadow-lg display-initial dark:hidden"/>
</button>

<script>
  const lgBreakPoint = 1024;
  const isLgOrAbove = () => { return window.innerWidth >= lgBreakPoint };
  
  const themeBtn = () => {
    const switchThemeBtn = document.querySelector("[data-switch-theme-btn]") as HTMLButtonElement;
    if (switchThemeBtn) {
      switchThemeBtn.addEventListener("click", (e: MouseEvent) => {
        e.preventDefault();
        const doc = document.documentElement;
        if (doc) {
          if (localStorage.getItem("appTheme")) {
            if (localStorage.getItem("appTheme") === "light") {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            } else {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            }
          } else {
            if (doc.classList.contains("dark")) {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            } else {
              doc.classList.add("dark")
              localStorage.setItem("appTheme", "dark")
            }
          }
        }
      })
    }
  }

  const themeTouch = () => {
    const switchThemeTouch = document.querySelector('[data-switch-theme]') as HTMLElement;
    if (switchThemeTouch) {
      switchThemeTouch.addEventListener('touchstart', (e: TouchEvent) => {
        e.preventDefault();
        const doc = document.documentElement;
        if (doc) {
          if (localStorage.getItem("appTheme")) {
            if (localStorage.getItem("appTheme") === "light") {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            } else {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            }
          } else {
            if (doc.classList.contains("dark")) {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            } else {
              doc.classList.add("dark")
              localStorage.setItem("appTheme", "dark")
            }
          }
        }
      })
    }
  }

  if (isLgOrAbove()) themeBtn();
  else themeTouch()
    
  window.addEventListener('resize', () => {
    if (isLgOrAbove()) themeBtn();
    else themeTouch();
  })

</script>