---
import Navbar from './components/Navbar.astro';
import { Layout } from './layouts/Layout';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body>
		<Layout client:load>
			<Navbar/>
			<main class="bg-white dark:bg-black text-black dark:text-white h-screen">
				<slot />
			</main>
		</Layout>
	</body>
</html>