---
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro';
import ThemeButton from '../components/ThemeButton.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<title data-cy="title">{title}</title>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white">
	  <slot />
    <ScrollToTopBtn className="fixed bottom-52 right-10 lg:bottom-32 bg-gray-200 dark:bg-black rounded-full p-5 border border-black dark:border-white hover:text-purple-600 hover:border-purple-600 dark:hover:border-purple-600" />
    <ThemeButton className="fixed bottom-10 right-10 bg-gray-200 dark:bg-black rounded-full p-5 border border-black dark:border-white hover:text-purple-600 hover:border-purple-600 dark:hover:border-purple-600" />
  </body>
</html>

<style>
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgba(123, 123, 123, 0.5);
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 140, 228);
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgba(123, 123, 123, 0.2);
  }

  .dark body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }

  .dark body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(147 51 234);
    border-radius: 5px;
  }

  .dark body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
  }

</style>