---
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

let mode: 'light' | 'dark' = 'dark';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body class={mode}>
		<Navbar mode={mode}/>
		<main class="bg-white dark:bg-black text-black dark:text-white h-screen">
			<slot />
		</main>
	</body>
</html>