---
import Footer from '../components/Footer.astro';
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro';
import ThemeButton from '../components/ThemeButton.astro';

interface Props {
	title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
	  <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/feather.png">
	  <title data-cy="title">{title}</title>
  </head>
  <body class=`${className} bg-white dark:bg-black text-black dark:text-white sm:px-20 lg:px-24`>
	  <slot />
    <div class="lg:hidden w-32 space-y-6 fixed inline-block bottom-20 right-10">
      <ThemeButton className="bg-gray-200 dark:bg-black rounded-full p-5 border border-black dark:border-white hover:text-purple-600 hover:border-purple-600 dark:hover:border-purple-600" />
      <ScrollToTopBtn className="bg-gray-200 dark:bg-black rounded-full p-5 border border-black dark:border-white hover:text-purple-600 hover:border-purple-600 dark:hover:border-purple-600" />
    </div>
    <section class="lg:flex lg:justify-center lg:w-auto lg:h-auto text-[40px] lg:text-[16px] px-10 lg:col-span-12 lg:row-span-1">
      <Footer className="lg:flex lg:justify-center lg:items-center lg:space-x-16 text-center px-16 py-8 lg:px-6 lg:py-4"/>
    </section>
  </body>
</html>

<style>
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgba(123, 123, 123, 0.5);
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 140, 228);
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgba(123, 123, 123, 0.2);
  }

  .dark body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }

  .dark body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(147 51 234);
    border-radius: 5px;
  }

  .dark body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
  }

</style>